    @media all and (min-width: 1200px) {
        .menu-ul {
            min-height: 87.5vh !important;
            line-height: 87.5vh !important;
            width: 30vw;
        }
        .menu-li {
            font-size: 2.2em;
        }
        .countdown-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            float: right;
            max-height: 100vh;
            padding-top: 57vh;
            padding-right: 4vw;
        }
        .counter-table {
            float: right;
        }
        #countdown {
            margin: 0;
            font-size: 7em;
            font-weight: 100;
            text-align: center;
        }
        .countdown-letter td {
            font-size: 2.8em;
            text-align: center;
        }
        .same-height {
            padding: 0 2vh;
        }
    }
    
    @media all and (min-width: 1200px) and (max-width: 1400px) {
        #wrapTitleJeudi,
        #wrapTitleVendredi {
            padding: 6vh 0;
        }
        #wrapProgVendredi p:last-of-type {
            margin-top: 0.4em !important;
        }
        #wrapProgJeudi p:last-of-type {
            margin-top: 0.4em !important;
        }
        .page-3 h1,
        .page-5 h1 {
            margin-top: 69vh;
        }
        .text-partenariat {
            font-size: 2em;
        }
        .glyphicon-envelope,
        .glyphicon-phone {
            margin-bottom: -0.5em;
            font-size: 3em;
            color: #E91E63;
            margin-top: 0.5em;
        }
    }
    
    @media all and (min-width: 1367px) and (max-width: 1400px) {
        #countdown {
            font-size: 8em;
        }
    }