/*
 *       Font ROBOTO:
 * font-family: 'Roboto', sans-serif;
 * font-weight: 100,300,400,500,700,900
 *
 */


/*
	hexadecimal and RGB colors codes:

	- WCS yellow -
	#FBA858
	rgba(251, 168, 88, 1)


	- Toulouse Pink -
	#E91E63
	rgba(233, 30, 99, 1)
*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #262626;
    overflow-x: hidden;
    /*background: url("../img/motif.png") repeat fixed;*/
    background: #a3a3a3;
}


/*
    Definition classes
*/


/* HOME */

h1,
h2 {
    font-family: Roboto, sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 100;
}

.text-pink {
    color: #E91E63;
}

.no-padding {
    padding: 0!important;
}

.shadow-it {
    -webkit-box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.53);
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.53);
    /*-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
    /*-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
    /*box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
}

.shadow-it-box {
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.75);
}

.hamburger-scrollspy {
    background-color: #E91E63 !important;
}

.hamburger-scrollspy-next {
    background: -moz-linear-gradient(top, rgba(233, 30, 99, 0.7) 0%, rgba(177, 111, 168, 0) 52%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(233, 30, 99, 0.7) 0%, rgba(177, 111, 168, 0) 52%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(233, 30, 99, 0.7) 0%, rgba(177, 111, 168, 0) 52%, rgba(125, 185, 232, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e91e63', endColorstr='#007db9e8', GradientType=0);
}

.hamburger-scrollspy-previous {
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(177, 111, 168, 0) 48%, rgba(233, 30, 99, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(177, 111, 168, 0) 48%, rgba(233, 30, 99, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(177, 111, 168, 0) 48%, rgba(233, 30, 99, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#e91e63', GradientType=0);
}

.home-viewport {
    background-image: url("../img/bg_home.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*    padding: 0 1%; */
}

.title-wrapper {
    display: inline-block;
    position: relative;
    background-image: url("../img/home_txt_wrapp.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-title {
    display: block;
    margin: 19% 0 0 7%;
    font-weight: 400;
    font-size: 5.1em;
    width: 100%;
    letter-spacing: -3px;
    color: #000;
}

.home-sub-title {
    display: block;
    margin: -6px 0 0 15%;
    font-size: 6.4em;
    width: 100%;
    letter-spacing: 0px;
    color: #000000;
}

.home-logo-toulouse {
    max-width: 54%;
    margin: 10px 23%;
}

.home-logo-wcs {
    position: absolute;
    bottom: 0;
    max-width: 28%;
    margin: 0 36%;
}

.countdown-num {
    opacity: 0;
}

.countdown-global {
    color: #ffffff;
    text-align: justify;
    text-shadow: 1px 1px 1px #E91E63;
    -webkit-transform: scale(1, 1.6);
    -moz-transform: scale(1, 1.6);
    -ms-transform: scale(1, 1.6);
    -o-transform: scale(1, 1.6);
    transform: scale(1, 1.6);
}

td {
    padding: 8px;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    font-size: 3.5em;
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
}

.arrow-down:hover {
    cursor: pointer;
    opacity: 1;
}


/* bootstrap overrides */

.nav-wrap {
    position: fixed;
    z-index: 9999;
    -moz-perspective: 500vw;
    /* Chrome, Safari, Opera */
    -o-perspective: 50vw;
    /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw;
    /* Chrome, Safari, Opera */
    perspective: 100vw;
}

.navbar {
    position: absolute;
    z-index: 9999;
    margin: 20px 10px;
    background: none;
    border: none;
}

.navbar-toggle {
    position: fixed;
    float: right;
    background: none;
    padding: 9px 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 45px;
    height: 6px;
    margin: 3px 0 2px !important;
    border-radius: 2px;
}

.navbar-collapse {
    opacity: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.97);
    transform-origin: left bottom;
    -moz-perspective: 50vw;
    /* Chrome, Safari, Opera */
    -o-perspective: 50vw;
    /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw;
    /* Chrome, Safari, Opera */
    perspective: 50vw;
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    /* Safari */
    transform: rotateY(90deg);
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.rotate-y-anim {
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

.rotate-y-anim-back {
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.menu-ul {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9999;
}

.menu-li {
    flex: 1 auto;
    font-weight: bold;
}

.menu-li>a:hover {
    color: #E91E63!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.close-menu {
    width: 30px;
    height: 30px;
    float: right;
    margin: 8px -5px 0 0;
    opacity: 0.7;
}

.close-menu:hover {
    opacity: 1;
    cursor: pointer;
}

@media (min-width: 480px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        /*display: none !important;*/
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5vh;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}


/* FIN HOME */


/*
    ######################################################################################
*/


/* PAGE 2 - ENJEUX OPEN DATA */

.page {
    height: 100vh;
    background-image: url("../img/bg_pages_2.png");
    background-attachment: fixed;
    background-position: 0% -50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-header {
    height: 20vh;
}

.page-content {
    height: 80vh;
    padding: 10vh 1%;
}

.page-content-alt {
    height: 100vh;
    padding: 10vh 1%;
}

.page-2 p,
.page-4 p {
    color: #000000;
    font-size: 1.6em;
    font-weight: 300;
    text-align: justify;
}

.page-2 h1,
.page-6 h1 {
    display: block;
    width: 80%;
    margin: 56px auto 1em;
    font-weight: 300;
    font-size: 3.5em;
    padding: 0;
    text-align: center;
    line-height: 0em;
    border-bottom: 1px solid #ff9540;
}

.page-2 h1 span,
.page-6 h1 span {
    padding: 4px 38px;
    background-color: #a3a3a3;
    /*background: url("../img/postit.png") no-repeat;*/
}

.page-2 h2 {
    font-weight: 300;
    line-height: 1.6em;
    padding: 0 1%;
    margin: 18px 0 50px;
    /*background-color: rgba(190, 190, 190, 0.5);*/
    text-align: center;
    /*border-radius: 15px;*/
    /*border: 1px solid #E91E63;*/
}

.taller {
    font-size: 1.4em;
}

.flexit {
    flex: 0 1 auto;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 200;
    /*display: inline-block;*/
    padding: 10px 69px;
    /*border: 2px solid #FBA858;*/
    background-color: rgba(255, 255, 255, 1);
}

.open-data-link {
    width: 100%;
}

.open-data-link:hover {
    border: 1px solid #E91E63;
    box-shadow: 2px 1px 6px #262626;
}

.top-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 15px 0 0 15px;*/
}

.top-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 15px 15px 0;*/
}

.bottom-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 0 0 15px 0;*/
}

.bottom-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 0 0 15px;*/
}

.center-it-vertical {
    position: relative;
    bottom: 10px;
}

.page-2-ul {
    /*color: #fba858;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.7em;
    list-style: square;
    margin: 0px 30px 24px;
}


/* FIN PAGE OPEN DATA */


/* PAGE PROGRAMME */


/*.page-3-content {
    background-image: url("../img/bg_pages_2.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0% -80%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
}*/

.page-3 h1,
.page-5 h1 {
    display: block;
    width: 80%;
    margin: 33vh auto 1em;
    color: #FBA858;
    font-size: 3em;
    left: 10%;
    margin-top: 40vh;
    text-transform: uppercase;
}

.programme-hidden {
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: center;
    background-color: #FFF;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #E91E63;
}

#wrapTitleJeudi {
    height: 50vh;
}

#wrapTitleVendredi {
    height: 70vh;
}

#wrapProgJeudi {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

#wrapProgVendredi {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.flexit-2 {
    flex: 1 1 auto;
}

#wrapTitleJeudi,
#wrapTitleVendredi {
    margin: 10vh 3vw;
    padding: 8vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#wrapProgJeudi,
#wrapProgVendredi {
    background-color: #FFF;
    font-size: 1.5em;
    margin: 10vh 3vw;
    padding: 3vh 1vw;
    text-align: justify;
    cursor: pointer;
}

#wrapProgJeudi:after,
#wrapProgVendredi:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#wrapProgJeudi * {
    margin: 0.5em 7.5% 0 7.5%;
}

#wrapProgJeudi p:last-of-type {
    margin-top: 2em !important;
}

#wrapProgVendredi * {
    margin: 0.5em 7.5% 0 7.5%;
}

#wrapProgVendredi p:last-of-type {
    margin-top: 2em !important;
}

.noDispl {
    display: none !important;
}

.contentDayProg,
.progtime,
.dayInWrapProg {
    flex: 1 1 auto;
}

.progTime {
    color: #FBA858;
    margin-top: 1em;
}

.dayInWrapProg {
    text-align: center;
    font-size: 2em;
    /*margin-top: 0.5em !important;*/
}


/*.transitionOut{
    top: -100vh;
    opacity: 0
}
.transitionIn{
    top: 00vh;
    opacity: 1;
}
.transitionProg{
    -webkit-transition: top 3s ease-out;  
    -moz-transition: top 3s ease-out;
    -o-transition: top 3s ease-out;  
    transition: top 3s ease-in;  
}*/


/* FIN PAGE PROGRAMME */


/* PAGE ORGANISATEURS */


/*.page-4-content {
    background-image: url("../img/bg_pages.png");
    height: 80vh;
    background-attachment: fixed;
    background-position: 0% -110%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
}*/

.page-4 h1 {
    display: block;
    width: 80%;
    margin: 60px auto 1em;
    font-weight: 300;
    font-size: 3.5em;
    padding: 0;
    text-align: center;
    line-height: 0em;
    border-bottom: 1px solid #E91E63;
}

.page-4 h1 span {
    padding: 0 38px;
    background-color: #a3a3a3;
}

.page-4>h1>i {
    font-weight: bold;
}

.page-4 h2 {
    font-weight: 300;
    line-height: 1.6em;
    padding: 0 1%;
    margin: 18px 0 50px;
    /*background-color: rgba(190, 190, 190, 0.5);*/
    text-align: center;
    /*border-radius: 15px;*/
    /*border: 1px solid #E91E63;*/
}

.org-logos {
    width: 55%;
    margin: 16px auto;
}


/* FIN PAGE ORGANISATEURS */


/* PAGE PARTENAIRES */


/*
#programme {
    background-image: url("../img/bg_pages_2.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0% -110%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
}*/

#titlePratenaires {
    color: #FBA858;
    font-size: 3em;
    left: 10%;
    margin-top: 40vh;
    text-transform: uppercase;
}

#wrapPart1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    height: 50vh;
}

#wrapPart2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    height: 70vh;
}

.textPartenaires {
    color: #FBA858!important;
    font-size: 2em!important;
    text-align: center;
    /*padding-top: 2em;*/
}

#imgFt {
    width: 80%;
    margin: 0 auto;
}

#imgCantine {
    width: 80%;
    margin: 0 auto;
}


/* FIN PAGE PARTENAIRES */


/* PAGE ESPACE PRESSE */


/*
.content-page-6 {
    background-image: url("../img/bg_pages.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0% -110%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
    text-align: center;
}*/

.page-content-6 {
    padding: 0vh 2%;
}

#title-Press {
    margin-bottom: 2em;
}

.title-presse {
    text-align: center;
    font-size: 2em;
}

.title-partenariat {
    font-size: 2em;
}

.title-acreditation {
    font-size: 2em;
}

.text-partenariat {
    padding: 1em 8%;
    font-size: 2.6em;
    text-align: center;
}

.glyphicon-envelope,
.glyphicon-phone {
    margin-bottom: 0.5em;
    font-size: 3em;
    color: #E91E63;
    margin-top: 0.5em;
}
.twitter{
    overflow-y: scroll;
    height: 75vh;
    border-radius: 8px;
}

.wrap-Press {
    background-color: white;
    border-radius: 5px;
    height: 75vh;
}


/* FIN PAGE ESPACE PRESSE */

@media all and (max-width: 991px) {
    .top-left {
        border-radius: 8px;
    }
    .top-right {
        border-radius: 8px;
    }
    .bottom-left {
        border-radius: 8px;
    }
    .bottom-right {
        border-radius: 8px;
    }
}

.footer {
    margin-top: 0.8em;
    height: 50px;
    background-color: #333;
    /*opacity: 0.9;*/
    -webkit-box-shadow: 5px 7px 2px -1px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 5px 7px 2px -1px rgba(0, 0, 0, 0.56);
    box-shadow: 5px 7px 2px -1px rgba(0, 0, 0, 0.56);
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .text-muted {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #F9A02E;
}

.map-icon {
    position: absolute;
    right: 0;
    top: 10px;
    height: 30px;
    margin: 0px 6px;
}

.map-popup {
    display: none;
    position: fixed;
    background: #262626;
    top: -100vh;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    padding: 4vh 4vw !important;
    border: 4px solid #ffffff;
    border-radius: 4px;
}

.hide-it {
    display: block;
}